{{#course}}
<tbody>
    <tr data-id="{{courseId}}">
        <td>{{courseName}}</td>
        <td>{{courseNumber}}</td>
        <td>{{description}}</td>
        <td class="schedule" data-scheduleid="{{schedule.scheduleId}}">
        {{schedule.day}}: {{schedule.startTime}} ~ {{schedule.endTime}}
        </td>
        <td>{{stateId}}</td>
        <td>{{professor}}</td>
        <td>{{totalHeadCount}}</td>
        {{#ifIn courseId ../usercourses}}
        <td>
            <div>Added</div>
        </td>
        {{/ifIn}}
    </tr>
</tbody>
{{/course}}
