{{#each users}}
<tr>
    <td>{{userId}}</td>
    <td>{{email}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{role.roleName}}</td>
    <td>{{major.majorName}}</td>
    <td>{{coursesCount}}</td>
</tr>
{{/each}}
