<!--Main Body Begin-->
<div class="mainBody">
    <div class="rightSide">
        <div class="pageSize" id="pageC">
            <div class="page_style">
                <div class="pageTitle">
                    <h2>Admin view users</h2>
                </div>
                <div class="pageBoxPosition">
                    <table>
                        {{>usertableheadline }}
                        <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{userId}}</td>
                            <td>{{email}}</td>
                            <td>{{firstName}}</td>
                            <td>{{lastName}}</td>
                            <td>{{role.roleName}}</td>
                            <td>{{major.majorName}}</td>
                            <td>{{coursesCount}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
