<!--Main Body Begin-->
<div class="mainBody">
    {{>navigation }}
    <div class="rightSide">
        <!-- My Course & Drop page Begin-->
        <div class="pageSize" id="pageC">
            <div class="page_style">
                <div class="pageTitle">
                    <h2>My Course & Drop</h2>
                </div>
                <div class="pageBoxPosition">
                    <table>
                        {{>coursetableheadline }}
                        {{#each users_courses}}
                        <tbody>
                        <tr data-id="{{courseId}}">
                            <td>{{courseName}}</td>
                            <td>{{courseNumber}}</td>
                            <td>{{description}}</td>
                            <td class="schedule" data-scheduleid="{{schedule.scheduleId}}">
                                {{schedule.day}}: {{schedule.startTime}} ~ {{schedule.endTime}}
                            </td>
                            <td>{{stateId}}</td>
                            <td>{{professor}}</td>
                            <td>{{totalHeadCount}}</td>
                            <td><div class="redButton" ng-click="handleDropCourse('{{courseId}}')">Drop</div></td>
                        </tr>
                        </tbody>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
        <!-- My Course & Drop page End-->
    </div>
    <div class="clear"></div>
</div>
